<a href="https://colab.research.google.com/github/nrutyadoshi/NLP/blob/Classwork/NLP_21_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from nltk.corpus import stopwords

import re
import nltk

nltk.download('stopwords')

df = pd.read_csv('/content/All-seasons.csv')


def remove_stop(doc):
    doc = re.sub(r'[^A-Za-z\s]', ' ', doc).split()
    stop_words = set(stopwords.words('english'))
    t = [w.lower() for w in doc if not w.lower() in stop_words]
    t = ' '.join(t)
    return t


df['clean'] = df['Line'].apply(remove_stop)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
df.head()

  Season  ...                                              clean
0     10  ...                          guys guys chef going away
1     10  ...                                    going away long
2     10  ...                                            forever
3     10  ...                                         sorry boys
4     10  ...  chef said bored joining group called super adv...

[5 rows x 5 columns]