<a href="https://colab.research.google.com/github/nrutyadoshi/NLP/blob/Classwork/nltk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines=True)

In [238]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
nltk.download('all')

In [0]:
import nltk

In [0]:
from nltk import word_tokenize

In [0]:
from nltk.stem import WordNetLemmatizer

In [0]:
import re

In [0]:
def dictionary_nltk(str):
  nlp = dict()
  words = nltk.tokenize.word_tokenize(str)
  nlp["tokenize"] = words
  pos = nltk.pos_tag(words)
  nlp["pos"] = pos
  return nlp

In [0]:
def adjective(str):
  words = nltk.tokenize.word_tokenize(str)
  pos = nltk.pos_tag(words)
  adj = []
  for i in range(0,len(pos)):
    if ("JJ" in pos[i][1]):
      adj.append(pos[i][0])
  return adj

In [304]:
data = data.iloc[:50]
data.shape

(50, 13)

In [0]:
data["reviewText_nltk"] = data.apply(lambda row: dictionary_nltk(row.reviewText),axis=1)
data["summary_nltk"] = data.apply(lambda row: dictionary_nltk(row.summary),axis=1)

In [0]:
data["reviewText_adj"] = data.apply(lambda row: adjective(row.reviewText),axis=1)
data["summary_adj"] = data.apply(lambda row: adjective(row.summary),axis=1)

In [307]:
data.head()

       reviewerID  ...           summary_adj
0  A32T2H8150OJLU  ...         [solid, long]
1  A3MAFS04ZABRGO  ...              [golden]
2  A1F1A0QQP2XVH5  ...  [Good, durable, old]
3   A49R5DBXXQDE5  ...       [last, extinct]
4  A2XRMQA6PJ5ZJ8  ...                [best]

[5 rows x 13 columns]

In [309]:
print(data["summary_nltk"][0])

{'tokenize': ['A', 'solid', 'performer', ',', 'and', 'long', 'time', 'friend'], 'pos': [('A', 'DT'), ('solid', 'JJ'), ('performer', 'NN'), (',', ','), ('and', 'CC'), ('long', 'JJ'), ('time', 'NN'), ('friend', 'NN')]}

In [310]:
print(data["summary_adj"][0])

['solid', 'long']